@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
  text-align: left;
  /* overflow: hidden; */
}

.header {
  position: relative;
  top: 0;
  display: grid;
  min-height: 80vh;
  max-height: 1700px;
  /* overflow: hidden;
  overflow-x: hidden; */
  width: 100%;
}
.nav {
  display: flex;
  height: fit-content;
  padding: 1rem 8% 1rem 8%;
}
.nav .navbar-brand {
  width: 10%;
  display: flex;
}
.padding-1 {
  padding: 0 !important;
}
.logo {
  width: 12rem;
  height: 5rem;
  z-index: 1;
  top: 50%;
  left: 20%;
}
.circle {
  position: relative;
  z-index: -1;
}

/* button {
  padding: 15px 30px;
  background-color: #e07b23;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: "Montserrat";
  font-size: 14px;
  color: #ffff;
  left: 840px;
  position: relative;
  top: 18px;
}
button:hover {
  background-color: #e07b23;
  color: black;
  position: fixed;
} */

.navbar-links {
  position: relative;
  left: 75%;
}

.navbar-links a {
  margin: 0 2rem 0 2rem;
}

.cir1 {
  background-color: #602270;
  opacity: 100%;
  width: 1150px;
  height: 1000px;
  border-radius: 50%;
  margin-right: 50%;
  position: absolute;
  left: -141px;
  /*! z-index: -50%; */
  top: -550px;
  z-index: -1;
}
.welcome {
  position: absolute;
  top: 50%;
  font-size: 3rem;
}
.welcome .img-1 {
  width: 200px;
  height: 200px;
}
.rect1 {
  position: absolute;
  width: 700px;
  height: 100px;
  left: 20%;
  top: 120px;

  background: rgba(241, 232, 225, 0.51);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  display: flex;
  /*! text-align: end; */
  align-items: center;
  justify-content: start;
  font-size: 1.5rem;
  padding-left: 3rem;
}
.text {
  position: relative;
  width: 524px;
  height: 58px;
  left: 780px;
  top: -220px;
  z-index: 1;
  font-family: "Montserrat";
  font-style: thin;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;

  color: #ffffff;
}

.cir2 {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 220px;
  top: 91%;
  border-radius: 50%;
  z-index: 999;

  background: #ffffff;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.13);
}
.flex {
  display: flex;
  justify-content: center;
}
.signin-form {
  width: 30%;
}
input[type="text"],
select,
textarea {
  float: right;
  width: 60%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 16px;
  resize: vertical;
  position: relative;
  left: 380px;
  top: 200px;
}
.btn-signin {
  border-radius: 50px;
  background-color: #d6a41b;
  padding: 15px 20px;
}
button[type="submit"] {
  background-color: #d6a41b;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 30%;
  font-family: "Montserrat";
  font-size: 14px;
  border: none;
  position: relative;
  /*! top: 450px; */
  left: 8rem;
}

button[type="submit"]:hover {
  background-color: #602270;
  color: white;
}

.image {
  width: 50%;
  height: 200px;
  left: 350px;
  /* top: 37%; */
  position: relative;
}
/* .rectangle {
  position: relative;
  left: 750;
  top: -250;
} */
.im .footer {
  bottom: 0;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #602270;
  color: white;
  text-align: center;
}

.footer p {
  text-align: center;
}

.card{
  box-shadow: 0 10px 20px rgba(223,167,228,255);
  transition: .4s ease box-shadow;
}
